VITE_APP_NAME=CampusCareer
VITE_API_BASE_URL=https://dbfvug-elgew.slsblx.com
VITE_BLOCKS_API_URL=https://blocksapi.slsblx.com
VITE_BLOCKS_X_BLOCKS_KEY=D8fb34a0fb75740f0b8a479a550807393
VITE_BLOCKS_OIDC_URL=https://iam.seliseblocks.com
VITE_BLOCKS_OIDC_CLIENT_ID=
VITE_BLOCKS_OIDC_SCOPE=openid profile
VITE_BLOCKS_APP_DOMAIN=https://dbfvug-elgew.slsblx.com
VITE_BLOCKS_REDIRECT_URI=https://dbfvug-elgew.slsblx.com:5173/login/callback
VITE_BLOCKS_HOSTED_LOGIN=false
VITE_BLOCKS_DEV_HOST=dbfvug-elgew.slsblx.com
VITE_BLOCKS_DEV_PORT=5173

